@import "tailwindcss";

:root {
  --background: #e6e6e6;
  --background-secondary: #292929;
  --foreground: #171717;
  --neutral-dark: #292929;
  --neutral-light: #f5f5f5;
  --primary-accent: #223a3f;
  --secondary-accent: #FFB237;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --font-league-spartan: var(--font-league-spartan);
  --font-outfit: var(--font-outfit);
  --primary-color: var(--primary-accent);
  --secondary-accent: var(--secondary-accent);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}

